parameters:
	ignoreErrors:
		-
			message: "#^Method Mezzio\\\\Application\\:\\:pipe\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:pipe\\(\\) has parameter \\$middlewareOrPath with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Parameter \\#1 \\$path of function Laminas\\\\Stratigility\\\\path expects string, array\\|\\(callable\\)\\|Psr\\\\Http\\\\Server\\\\MiddlewareInterface\\|Psr\\\\Http\\\\Server\\\\RequestHandlerInterface\\|string given\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:route\\(\\) has parameter \\$methods with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:route\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:get\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:post\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:put\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:patch\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:delete\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\Application\\:\\:any\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Application.php

		-
			message: "#^Method Mezzio\\\\ConfigProvider\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ConfigProvider.php

		-
			message: "#^Method Mezzio\\\\ConfigProvider\\:\\:getDependencies\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ConfigProvider.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 4
			path: src/Container/ApplicationConfigInjectionDelegator.php

		-
			message: "#^Method Mezzio\\\\Container\\\\ApplicationConfigInjectionDelegator\\:\\:injectPipelineFromConfig\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Container/ApplicationConfigInjectionDelegator.php

		-
			message: "#^Method Mezzio\\\\Container\\\\ApplicationConfigInjectionDelegator\\:\\:injectRoutesFromConfig\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Container/ApplicationConfigInjectionDelegator.php

		-
			message: "#^Anonymous function should have native return typehint \"Laminas\\\\Diactoros\\\\ServerRequest\"\\.$#"
			count: 1
			path: src/Container/ServerRequestFactoryFactory.php

		-
			message: "#^Method Mezzio\\\\Container\\\\WhoopsFactory\\:\\:registerJsonHandler\\(\\) has parameter \\$config with generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Container/WhoopsFactory.php

		-
			message: "#^Method Mezzio\\\\Container\\\\WhoopsFactory\\:\\:registerJsonHandler\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Container/WhoopsFactory.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 3
			path: src/Container/WhoopsFactory.php

		-
			message: "#^Method Mezzio\\\\Container\\\\WhoopsPageHandlerFactory\\:\\:injectEditor\\(\\) has parameter \\$config with generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Container/WhoopsPageHandlerFactory.php

		-
			message: "#^Method Mezzio\\\\Container\\\\WhoopsPageHandlerFactory\\:\\:injectEditor\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Container/WhoopsPageHandlerFactory.php

		-
			message: "#^Property Mezzio\\\\Middleware\\\\ErrorResponseGenerator\\:\\:\\$renderer \\(Mezzio\\\\Template\\\\TemplateRendererInterface\\) does not accept Mezzio\\\\Template\\\\TemplateRendererInterface\\|null\\.$#"
			count: 1
			path: src/Middleware/ErrorResponseGenerator.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Middleware/ErrorResponseGenerator.php

		-
			message: "#^Only booleans are allowed in an if condition, Mezzio\\\\Template\\\\TemplateRendererInterface given\\.$#"
			count: 1
			path: src/Middleware/ErrorResponseGenerator.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Middleware/ErrorResponseGenerator.php

		-
			message: "#^Method Mezzio\\\\Middleware\\\\ErrorResponseGenerator\\:\\:prepareTemplatedResponse\\(\\) has parameter \\$templateData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Middleware/ErrorResponseGenerator.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Whoops\\\\Run will always evaluate to false\\.$#"
			count: 1
			path: src/Middleware/WhoopsErrorResponseGenerator.php

		-
			message: "#^Instanceof between Whoops\\\\RunInterface and Whoops\\\\RunInterface will always evaluate to true\\.$#"
			count: 1
			path: src/Middleware/WhoopsErrorResponseGenerator.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/Middleware/WhoopsErrorResponseGenerator.php

		-
			message: "#^Call to function is_object\\(\\) with \\*NEVER\\* will always evaluate to true\\.$#"
			count: 1
			path: src/Middleware/WhoopsErrorResponseGenerator.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Middleware/WhoopsErrorResponseGenerator.php

		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 2
			path: src/Middleware/WhoopsErrorResponseGenerator.php

		-
			message: "#^Method Mezzio\\\\MiddlewareFactory\\:\\:prepare\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MiddlewareFactory.php

		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 1
			path: src/MiddlewareFactory.php

		-
			message: "#^Method Mezzio\\\\MiddlewareFactory\\:\\:pipeline\\(\\) has parameter \\$middleware with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MiddlewareFactory.php

		-
			message: "#^Argument of an invalid type array\\|\\(callable\\)\\|Psr\\\\Http\\\\Server\\\\MiddlewareInterface\\|Psr\\\\Http\\\\Server\\\\RequestHandlerInterface\\|string supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/MiddlewareFactory.php

		-
			message: "#^Method Mezzio\\\\Response\\\\ServerRequestErrorResponseGenerator\\:\\:prepareTemplatedResponse\\(\\) has parameter \\$templateData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Response/ServerRequestErrorResponseGenerator.php

		-
			message: "#^Property Mezzio\\\\Response\\\\ServerRequestErrorResponseGenerator\\:\\:\\$renderer \\(Mezzio\\\\Template\\\\TemplateRendererInterface\\) does not accept Mezzio\\\\Template\\\\TemplateRendererInterface\\|null\\.$#"
			count: 1
			path: src/Response/ServerRequestErrorResponseGenerator.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Response/ServerRequestErrorResponseGenerator.php

		-
			message: "#^Only booleans are allowed in an if condition, Mezzio\\\\Template\\\\TemplateRendererInterface given\\.$#"
			count: 1
			path: src/Response/ServerRequestErrorResponseGenerator.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Response/ServerRequestErrorResponseGenerator.php

