includes:
	- phpstan-baseline.neon

parameters:
	level: max
	paths:
		- src
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		# Virtual classes can be safely ignored
		- '#Class (Mezzio|Zend\\Expressive)\\ApplicationPipeline not found#'
