includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	fileExtensions:
		- php
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		# Virtual classes can be safely ignored
		- '#Class (Mezzio|Zend\\Expressive)\\ApplicationPipeline not found#'
		# Mezzio supports Whoops 1.x
		- '#Call to function method_exists\(\) with Whoops\\Handler\\JsonResponseHandler and ''contentType'' will always evaluate to true.#'
		- '#Instanceof between \*NEVER\* and Whoops\\Run will always evaluate to false.#'
		- '#Call to function method_exists\(\) with ''Whoops\\\\Util\\\\Misc'' and ''isAjaxRequest'' will always evaluate to true.#'
