<?xml version="1.0"?>
<psalm
    totallyTyped="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorBaseline="psalm-baseline.xml">
    <projectFiles>
        <directory name="bin"/>
        <directory name="src"/>
        <directory name="test"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PossiblyInvalidArgument>
            <errorLevel type="suppress">
                <referencedFunction name="Laminas\Stratigility\path"/>
            </errorLevel>
        </PossiblyInvalidArgument>
        <DeprecatedClass>
            <errorLevel type="suppress">
                <referencedClass name="Mezzio\Response\CallableResponseFactoryDecorator"/>
            </errorLevel>
        </DeprecatedClass>
        <InternalMethod>
            <errorLevel type="suppress">
                <referencedMethod name="Mezzio\Response\CallableResponseFactoryDecorator::createResponse"/>
                <referencedMethod name="Mezzio\Response\CallableResponseFactoryDecorator::getResponseFromCallable"/>
            </errorLevel>
        </InternalMethod>
        <InternalClass>
            <errorLevel type="suppress">
                <referencedClass name="Mezzio\Response\CallableResponseFactoryDecorator"/>
            </errorLevel>
        </InternalClass>
        <DeprecatedTrait>
            <errorLevel type="suppress">
                <file name="src/Container/NotFoundHandlerFactory.php"/>
                <file name="src/Container/ServerRequestErrorResponseGeneratorFactory.php"/>
            </errorLevel>
        </DeprecatedTrait>
        <UndefinedClass>
            <errorLevel type="suppress">
                <referencedClass name="Zend\*"/>
            </errorLevel>
        </UndefinedClass>
    </issueHandlers>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
