<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PSR-15 Middleware in Minutes"> 

    
    
        
    
    <meta name="docsearch:version" content="3.0.0,latest">
    <meta name="docsearch:language" content="en">
    <meta name="docsearch:component" content="mezzio">

    <link rel="canonical" href="https://docs.mezzio.dev/mezzio/v3/features/template/laminas-view/">
    <link rel="shortcut icon" href="https://docs.laminas.dev/img/trademark-laminas-foundation-rgb.svg">

    <title>Using laminas-view - mezzio - Laminas Docs</title>

    <link rel="stylesheet" href="https://docs.laminas.dev/css/styles.css">
    
        <link href="../../../../css/mezzio.css" rel="stylesheet">
    
</head>
<body id="page-top" class="mezzio" data-spy="scroll" data-target=".toc" data-offset="20">

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        
        <a class="logo-link navbar-brand" href="https://getlaminas.org/" data-tooltip data-placement="bottom" title="Go to the Laminas homepage">
            <img src="https://docs.laminas.dev/img/laminas-foundation-white.svg" height="28" alt="Laminas">
        </a>
        <a class="navbar-title" href="https://docs.laminas.dev/" data-tooltip data-placement="bottom" title="Go to the Laminas Documentation">
            Documentation
        </a>

        
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown sub-project-selector">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                            All Docs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a href="https://docs.mezzio.dev/" class="dropdown-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4 col-sm-12">
                                        <img src="https://docs.laminas.dev/img/mezzio-logo.svg">
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <strong>Mezzio</strong><br>
                                        PSR-15 Middleware in Minutes
                                    </div>
                                </div>
                            </a>
                            <a href="https://docs.laminas.dev/components/" class="dropdown-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4 col-sm-12">
                                        <img src="https://docs.laminas.dev/img/laminas-components-rgb.svg">
                                    </div>
                                    <div class="col-md-8 col-sm-12">
                                        <strong>Components</strong><br>
                                        Components for Enterprise Applications
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropdown-item--secondardy" href="https://docs.laminas.dev/migration/">
                                <div class="row align-items-center">
                                    <div class="col-md-8 offset-md-4 col-sm-12">
                                        Migration to Laminas
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item dropdown-item--secondardy" href="https://docs.laminas.dev/tutorials/">
                                <div class="row align-items-center">
                                    <div class="col-md-8 offset-md-4 col-sm-12">
                                        Tutorials
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item dropdown-item--secondardy" href="https://docs.laminas.dev/mvc">
                                <div class="row align-items-center">
                                    <div class="col-md-8 offset-md-4 col-sm-12">
                                        MVC <small><em>(security-only maintenance mode)</em></small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://getlaminas.org/participate" class="nav-link">Community</a>
                </li>
            </ul>

            
            
                <div class="d-block d-sm-none">
                    
    <div class="subnavigation hidden-print">
        <h4 class="subnavigation__title">
            <a href="../../../..">
                
                
    mezzio

            </a>
        </h4>

        <h5 class="subnavigation__subtitle">Table of Contents</h5>

        <ul class="subnavigation__list">
            

                
                
                    
                        
    <li class="subnavigation__list-item ">
        <a href="../../../" class="subnavigation__link">Introduction</a>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Getting Started</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../getting-started/features/" class="subnavigation__link">Overview and Features</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../getting-started/quick-start/" class="subnavigation__link">Quick Start</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Features</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware-types/" class="subnavigation__link">Middleware Types</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../application/" class="subnavigation__link">Applications</a>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Containers</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/factories/" class="subnavigation__link">Container Factories</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/delegator-factories/" class="subnavigation__link">Delegator Factories</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/middleware-container/" class="subnavigation__link">The Middleware Container</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/middleware-factory/" class="subnavigation__link">The Middleware Factory</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/laminas-servicemanager/" class="subnavigation__link">Using laminas-servicemanager</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/pimple/" class="subnavigation__link">Using Pimple</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/aura-di/" class="subnavigation__link">Using Aura.Di</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/config/" class="subnavigation__link">Container configuration</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Routing Adapters</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/interface/" class="subnavigation__link">Routing Interface</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/route-collector/" class="subnavigation__link">The Route Collector</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/uri-generation/" class="subnavigation__link">URI Generation</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/piping/" class="subnavigation__link">Routing vs Piping</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/aura/" class="subnavigation__link">Using Aura</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/fast-route/" class="subnavigation__link">Using FastRoute</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/laminas-router/" class="subnavigation__link">Using laminas-router</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Templating</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../interface/" class="subnavigation__link">Template Renderer Interface</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../request-handlers/" class="subnavigation__link">Templated Request Handlers</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../plates/" class="subnavigation__link">Using Plates</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../twig/" class="subnavigation__link">Using Twig</a>
    </li>

            
                
    <li class="subnavigation__list-item subnavigation__list-item--active">
        <a href="./" class="subnavigation__link">Using laminas-view</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../error-handling/" class="subnavigation__link">Error Handling</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../modular-applications/" class="subnavigation__link">Modular Applications</a>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Middleware</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/routing-and-dispatch-middleware/" class="subnavigation__link">Routing and Dispatch Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/implicit-methods-middleware/" class="subnavigation__link">Implicit HEAD and OPTIONS Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/method-not-allowed-middleware/" class="subnavigation__link">Returning Method Not Allowed</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Helpers</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/url-helper/" class="subnavigation__link">UrlHelper</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/server-url-helper/" class="subnavigation__link">ServerUrlHelper</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/body-params/" class="subnavigation__link">Body Params Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/content-length/" class="subnavigation__link">Content-Length Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/template-variable-container/" class="subnavigation__link">Template Variable Container</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../emitters/" class="subnavigation__link">Emitters</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Cookbook</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/autowiring-routes-and-pipelines/" class="subnavigation__link">Autowiring routes and pipeline middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-a-base-path/" class="subnavigation__link">Using Mezzio from a subdirectory</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/common-prefix-for-routes/" class="subnavigation__link">Prepending a common path to all routes</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/passing-data-between-middleware/" class="subnavigation__link">Passing data between middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/path-segregated-routing/" class="subnavigation__link">Path-segregated routing</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/access-common-data-in-templates/" class="subnavigation__link">Provide Access to Common Data In Templates</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/route-specific-pipeline/" class="subnavigation__link">Route-specific middleware pipelines</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/host-segregated-middleware/" class="subnavigation__link">Segregating middleware by host</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/double-pass-middleware/" class="subnavigation__link">Using double-pass middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/setting-locale-depending-routing-parameter/" class="subnavigation__link">Setting a locale based on a routing parameter</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/setting-locale-without-routing-parameter/" class="subnavigation__link">Setting a locale without a routing parameter</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/debug-toolbars/" class="subnavigation__link">Enabling debug toolbars</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/flash-messengers/" class="subnavigation__link">Flash Messengers</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-custom-view-helpers/" class="subnavigation__link">Registering custom view helpers when using laminas-view</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-laminas-form-view-helpers/" class="subnavigation__link">Using laminas-form view helpers</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Reference</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../why-mezzio/" class="subnavigation__link">Why choose Mezzio?</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/cli-tooling/" class="subnavigation__link">CLI Tooling</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/mezzio-projects/" class="subnavigation__link">Mezzio Projects</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/migration/" class="subnavigation__link">Migration</a>
    </li>

            
        </ul>
    </li>

                    
                
            

                
                

                    
                    
                
            

                
                

                    
                    
                
            
        </ul>
    </div>

                </div>
            

            
            <div class="d-block d-sm-none">
                <div class="component-selector">
    
    <h5 class="component-selector__subtitle">Find documentation…</h5>
    <select class="form-control component-selector__control">
        <option value="/">Overview</option>
        <optgroup label="Components"></optgroup>
    </select>
</div>
            </div>
        </div>
    </div>
</nav>

    
    <header class="header">
    <div class="container">
        <div class="row">

            
            <div class="col-8">
                <h1 class="header__title">
                    Mezzio

                    
                        <small class="header__subtitle">
                            
                            
    mezzio

                        </small>
                    
                </h1>
            </div>

            
            <div class="col-4 text-right">
                
                    
<div class="version-selector">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" id="version-selector-dropdown">
            
                v3
            
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="version-selector-dropdown">
            
                
                    <a href="../../../" class="dropdown-item active">
                        
                            v3 (latest)
                        
                    </a>
                
            
                
                    <a href="../../../../v2/" class="dropdown-item">
                        
                            v2
                        
                    </a>
                
            
                
                    <a href="../../../../v1/" class="dropdown-item">
                        
                            v1
                        
                    </a>
                
            
        </div>
    </div>
</div>


                    <a href="#" class="header__link header__link--search" data-toggle="modal" data-target="#mkdocs_search_modal" title="Open search">
                        <i class="bi bi-search"></i> Search
                    </a>
                    <a href="https://github.com/mezzio/mezzio" class="header__link header__link--github" title="Go to repository of mezzio">
                        <i class="bi-github"></i> GitHub
                    </a>
                
            </div>
        </div>
    </div>
</header>

    
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 content" role="main">
                
                
                    
    

    
    
        <div class="toc">
            <h6 class="toc__headline">On this page</h6>
            <ul class="toc__list">
                
                    <li class="toc__entry">
                        <a href="#installing-laminas-view" class="toc__link nav-link">Installing laminas-view</a>
                    </li>
                
                    <li class="toc__entry">
                        <a href="#available-versions" class="toc__link nav-link">Available Versions</a>
                    </li>
                
                    <li class="toc__entry">
                        <a href="#using-the-wrapper" class="toc__link nav-link">Using the Wrapper</a>
                    </li>
                
                    <li class="toc__entry">
                        <a href="#recommendations" class="toc__link nav-link">Recommendations</a>
                    </li>
                
            </ul>
        </div>
    

                

                
                    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
            <li class="breadcrumb-item"><a href="https://docs.laminas.dev/">Overview</a></li>
            <li class="breadcrumb-item"><a href="https://docs.mezzio.dev/">Mezzio</a></li>

            
                <li class="breadcrumb-item">
                    <a href="../../../..">
                        
    mezzio

                    </a>
                </li>

                
                    
                        
                        
                    
                
                    
                        
                        
                            <li class="breadcrumb-item">Features</li>
                        
                    
                
                    
                        
                        
                            <li class="breadcrumb-item">Templating</li>
                        
                    
                

                <li class="breadcrumb-item active" aria-current="page">Using laminas-view</li>
            
        
    </ol>
</nav>






    
    
        <h2 class="chapter__headline">Templating</h2>
    

    <h1 id="using-laminas-view">Using laminas-view</h1>
<p><a href="https://docs.laminas.dev/laminas-view/">laminas-view</a> provides a native PHP
template system via its <code>PhpRenderer</code>, and is maintained by Laminas. It
provides:</p>
<ul>
<li>Layout facilities.</li>
<li>Helpers for escaping, and the ability to provide custom helper extensions.</li>
</ul>
<p>We provide a <a href="../interface/">TemplateRendererInterface</a> wrapper for laminas-view's
<code>PhpRenderer</code> via <code>Mezzio\LaminasView\LaminasViewRenderer</code>.</p>
<h2 id="installing-laminas-view">Installing laminas-view</h2>
<p>To use the laminas-view wrapper, you must first install the laminas-view integration:</p>
<pre class="highlight"><code class="language-bash">$ composer require mezzio/mezzio-laminasviewrenderer</code></pre>
<h2 id="available-versions">Available Versions</h2>
<p>The following table shows the compatibility of the libraries that go together to provide a usable templating system using <code>laminas-view</code>:</p>
<div class="table-responsive"><table>
<thead>
<tr>
<th><code>laminas-view</code></th>
<th><code>mezzio-template</code></th>
<th><code>mezzio-laminasviewrenderer</code></th>
</tr>
</thead>
<tbody>
<tr>
<td>2.x</td>
<td>2.x</td>
<td>2.x</td>
</tr>
<tr>
<td>3.x</td>
<td>3.x</td>
<td>3.x</td>
</tr>
</tbody>
</table></div>
<p>There are significant changes in <code>laminas-view</code> version 3, but broadly speaking, its usage in a Mezzio application is largely unchanged.</p>
<p>This documentation will cover usage of <code>laminas-view</code> with the version 3 series of releases.</p>
<p>You can read the integration documentation for <code>mezzio-laminasviewrenderer</code> version 2 in the <a href="../../../../v2/features/template/laminas-view/">older documentation for Mezzio</a>.</p>
<h2 id="using-the-wrapper">Using the Wrapper</h2>
<p>By default, once the components are installed, retrieving the <code>Mezzio\Template\TemplateRendererInterface</code> from the application DI container will yield an instance of <code>Mezzio\LaminasView\LaminasViewRenderer</code>.</p>
<p>From a Mezzio perspective, rendering templates in request handlers or middleware is no different to any other <code>mezzio-template</code> implementation:</p>
<pre class="highlight"><code class="language-php">use Laminas\Diactoros\Response\HtmlResponse;
use Mezzio\Template\TemplateRendererInterface;
use Psr\Http\Message\ResponseInterface;
use Psr\Http\Message\ServerRequestInterface;
use Psr\Http\Server\RequestHandlerInterface;

final readonly class ExampleRequestHandler implements RequestHandlerInterface
{
    public function __construct(
        private TemplateRendererInterface $renderer
    ) {
    }

    public function handle(ServerRequestInterface $request) : ResponseInterface
    {
        return new HtmlResponse(
            $this-&gt;renderer-&gt;render('some-template', ['some' =&gt; 'data']),
            200,
        );
    }
}</code></pre>
<p>In order to instantiate the template renderer yourself, you will need to retrieve a number of dependencies from the container:</p>
<pre class="highlight"><code class="language-php">use Psr\Container\ContainerInterface;
use Laminas\View\HelperPluginManagerInterface;
use Laminas\View\Renderer\RendererInterface;
use Mezzio\LaminasView\LaminasViewRenderer;

assert($container instanceof ContainerInterface);

$defaultLayoutTemplate = 'some::layout';

$renderer = new LaminasViewRenderer(
    $container-&gt;get(RendererInterface::class),
    $container-&gt;get(HelperPluginManagerInterface::class),
    $defaultLayoutTemplate,
);</code></pre>
<h3 id="template-resolvers">Template Resolvers</h3>
<p>The Laminas template renderer (<code>Laminas\View\Renderer\PhpRenderer</code>) consumes <a href="https://docs.laminas.dev/laminas-view/v3/template-resolvers/">template resolvers</a> in order to map template names to file paths.</p>
<p><code>laminas-view</code> itself ships several template resolvers, and <code>mezzio-laminasviewrenderer</code> ships an additional resolver called <code>Mezzio\LaminasView\NamespacedPathStackResolver</code>.</p>
<p>Conceptually, template resolvers are straight-forward; given a template name, return the path to an on-disk template file or return false.</p>
<p>In Mezzio, when you ask for <code>Laminas\View\Resolver\ResolverInterface</code>, you will receive an "AggregateResolver", that configures a "MapResolver" followed by the "NamespacedPathStackResolver".</p>
<p>What this means is that the "MapResolver" will be consulted first <em>(The fastest resolver)</em> and the "NamespacedPathStackResolver" second, when the "MapResolver" fails to identify the template asked for.</p>
<p>If we were to configure the aggregate resolver ourselves, it would look like this:</p>
<pre class="highlight"><code class="language-php">use Laminas\View\Resolver\AggregateResolver;
use Laminas\View\Resolver\TemplateMapResolver;
use Mezzio\LaminasView\NamespacedPathStackResolver;

$mappedTemplates = [
    'one' =&gt; __DIR__ . '/templates/one.phtml',
    'two' =&gt; __DIR__ . '/templates/two.phtml',
];

$namespacedPaths = [
    'muppets' =&gt; __DIR__ . '/templates/muppets', // A directory containing multiple files
];

// The "Map Resolver"
$mapResolver = new TemplateMapResolver($mappedTemplates);

// The "Namespaced Path Stack Resolver"
$namespacedResolver = new NamespacedPathStackResolver([
    'script_paths' =&gt; $namespacedPaths,
    // ... Other Options
]);

/**
 * Now we can create the aggregate resolver: 
 */
$aggregateResolver = new AggregateResolver([
    $mapResolver,
    $namespacedResolver,
]);

/**
 * And locate template files: 
 */
$one = $aggregateResolver-&gt;resolve('one'); // templates/one.phtml
$kermit = $aggregateResolver-&gt;resolve('muppets::kermit'); // templates/muppets/kermit.phtml</code></pre>
<p>The configuration above essentially describes the default setup you will get.</p>
<p>All you need to do is configure the templates and retrieve the template resolver from the container:</p>
<pre class="highlight"><code class="language-php">// config/autoload/templates.global.php
return [
    'templates' =&gt; [
        'default_suffix' =&gt; 'phtml',
        'map' =&gt; [
            'one' =&gt; __DIR__ . '/templates/one.phtml',
            'two' =&gt; __DIR__ . '/templates/two.phtml',
        ],
        'paths' =&gt; [
            'muppets' =&gt; __DIR__ . '/templates/muppets',
        ],
    ],
];</code></pre>
<pre class="highlight"><code class="language-php">use Laminas\View\Resolver\ResolverInterface;
use Psr\Container\ContainerInterface;

assert($container instanceof ContainerInterface);

$resolver = $container-&gt;get(ResolverInterface::class);

$resolver-&gt;resolve('one'); // templates/one.phtml
$resolver-&gt;resolve('muppets::kermit'); // templates/muppets/kermit.phtml
$resolver-&gt;resolve('not-there'); // false</code></pre>
<p>We encourage you to familiarise yourself with the <a href="https://docs.laminas.dev/laminas-view/v3/template-resolvers/">template resolver documentation</a> in <code>laminas-view</code> for alternative ways of resolving templates and how to implement your own template resolver.</p>
<div class="admonition note">
<p class="admonition-title">Namespaced Path Resolving in Mezzio</p>
<p>
The Mezzio-specific <code>Mezzio\LaminasView\NamespacedPathStackResolver</code> satisfies the convention of "namespaced" template paths.
The format is <code>namespace::template</code> and typically, <code>namespace</code> refers to one or more directories and <code>template</code> refers to a file named <code>template.phtml</code> in one of those directories.</p>
</div>
<h3 id="view-helpers-plugins">View Helpers <em>(Plugins)</em></h3>
<p>All templating systems provide a way of authoring plugins or helpers to make repetitive, or complex rendering tasks easy - helping to keep templates easy to maintain or perform essential functions such as escaping output.
<code>laminas-view</code> is no different, and it comes with a number of ready-to-use helpers which are <a href="https://docs.laminas.dev/laminas-view/v3/helpers/intro/">documented in detail over on the Laminas website</a>.</p>
<p>Creating your own plugins is straight-forward, and we encourage you to again <a href="https://docs.laminas.dev/laminas-view/v3/helpers/advanced-usage/">look at the relevant documentation</a> in order to do this.</p>
<p><code>mezzio-laminasviewrenderer</code> comes with a few Mezzio-specific plugins:</p>
<h4 id="the-serverurl-plugin">The <code>serverUrl</code> Plugin</h4>
<p>This plugin proxies to the <a href="../../helpers/server-url-helper/">ServerUrlHelper</a> to return absolute URIs:</p>
<pre class="highlight"><code class="language-php">// some-template.phtml

echo $this-&gt;serverUrl('/path.html'); // 'https://example.com/path.phtml'</code></pre>
<h4 id="the-url-plugin">The <code>url</code> Plugin</h4>
<p>This plugin proxies to the <a href="../../helpers/url-helper/">UrlHelper</a> to assemble local URLs for your configured routes:</p>
<pre class="highlight"><code class="language-php">// some-template.phtml

// '/some-path/page/1#some-hash?search=foo'
echo $this-&gt;url('my-route', ['page' =&gt; 1], ['search' =&gt; 'foo'], 'some-hash');</code></pre>
<h3 id="layouts">Layouts</h3>
<p>To take advantage of layouts in Mezzio with <code>laminas-view</code>, configure the <em>default</em> layout template appropriately:</p>
<pre class="highlight"><code class="language-php">// config/autoload/templates.global.php

return [
    'templates' =&gt; [
        'layout' =&gt; 'layout::default', // Default layout template
        'map' =&gt; [

            'layout::default' =&gt; __DIR__ . '/templates/layout/default-layout.phtml',
            'layout::alternative' =&gt; __DIR__ . '/templates/layout/alternative-layout.phtml',

            'page::home' =&gt; __DIR__ . '/templates/static/home.phtml',
            'page::other' =&gt; __DIR__ . '/templates/static/other.phtml',
        ],
    ],
];</code></pre>
<p>With the above configuration, calling <code>render('page::home')</code> on the template renderer will yield the contents of <code>home.phtml</code> inside of <code>default-layout.phtml</code>.</p>
<h4 id="changing-layout">Changing Layout</h4>
<p>Layout can be changed from the default, or set when no default has been configured in several ways:</p>
<ul>
<li>Passing a <code>layout</code> variable during rendering of a template:
  <pre class="highlight"><code class="language-php">$renderer-&gt;render('page::home', ['layout' =&gt; 'layout::alternative']);</code></pre></li>
<li>Calling <code>addDefaultParam(TemplateRendererInterface::TEMPLATE_ALL, 'layout', 'layout::alternative')</code> on the template renderer.</li>
<li>Calling the <code>layout</code> view-helper from within a template:
  <pre class="highlight"><code class="language-php">// other.phtml
$this-&gt;layout('layout::alternative');
// more template content…</code></pre></li>
<li>Calling the <code>layout</code> view-helper in other contexts such as middleware</li>
</ul>
<h4 id="disabling-layout">Disabling Layout</h4>
<p>You can disable layouts entirely by not configuring a default layout <em>(This is default behaviour)</em>, or in one of the following ways:</p>
<ul>
<li>Passing a <code>layout</code> variable with a <code>false</code> value during rendering:
  <pre class="highlight"><code class="language-php">$renderer-&gt;render('page::home', ['layout' =&gt; false]);</code></pre></li>
<li>Calling <code>addDefaultParam(TemplateRendererInterface::TEMPLATE_ALL, 'layout', false)</code> on the template renderer.</li>
<li>Calling the <code>layout</code> view-helper with an empty string from within a template:
  <pre class="highlight"><code class="language-php">// other.phtml
$this-&gt;layout('');
// more template content…</code></pre></li>
<li>Calling the <code>layout</code> view-helper in other contexts such as middleware.</li>
</ul>
<p>When layout is enabled, the laminas-view implementation will do a depth-first, recursive
render in order to provide content within the selected layout.</p>
<p>Additionally, layouts, when passed as parameters during rendering can also be <code>Laminas\View\Model\ViewModel</code> instances:</p>
<h4 id="provide-a-layout-view-model-when-rendering">Provide a Layout View Model When Rendering</h4>
<pre class="highlight"><code class="language-php">use Laminas\View\Model\ViewModel;

// Create the layout view model:
$layout = new ViewModel([
    'cssPath'  =&gt; '/css/blog/',
]);
$layout-&gt;setTemplate('layout::blog-layout');

$content = $renderer-&gt;render('blog::entry', [
    'layout' =&gt; $layout,
    'entry'  =&gt; $blogEntryDataModel,
]);</code></pre>
<h3 id="templates">Templates</h3>
<p>Template files for consumption in <code>laminas-view</code> are of course specific to <code>laminas-view</code> and are incompatible with either the <a href="../plates/">Plates template engine</a> or the <a href="../twig/">Twig template engine</a>.</p>
<p>For more information on writing templates, please <a href="https://docs.laminas.dev/laminas-view/v3/view-scripts/">consult the Laminas View documentation</a>.</p>
<h2 id="recommendations">Recommendations</h2>
<p>We recommend the following practices when using the <code>laminas-view</code> adapter:</p>
<ul>
<li>If using a layout, create a factory to return the layout view model as a
  service; this allows you to inject it into middleware and add variables to it.</li>
<li>While we support passing the layout as a rendering parameter, be aware that if
  you change engines, this may not be supported.</li>
<li>If you need to make use of multiple layout templates, carefully consider which method you use to change layout and stick to it.
  Sometimes, it makes most sense to delegate layout selection to the content template, in other situations manipulating layouts in middleware is the right thing to do.
  Mixing methods however, is not advised, and will lead to confusion in future!</li>
<li>Leverage custom plugins <em>("View Helpers")</em> to make testable and maintainable utilities that help you write consistent markup.</li>
<li>Investigate the <a href="https://docs.laminas.dev/laminas-view/v3/helpers/partial/">Partial View Helper</a> for re-using chunks of markup in dedicated templates.</li>
</ul>
<p>Laminas View is also capable of rendering arbitrarily nested view models, which can be of significant help when working with complex layouts.  </p>




    <nav>
    <ul class="page-nav hidden-print">

        
        <li class="page-nav__item">
            
                <a rel="prev" class="page-nav__link page-nav__link--prev" href="../twig/">
                    <small class="page-nav__label">Previous</small>
                    <i class="bi bi-arrow-left"></i>
                    Using Twig
                </a>
            
        </li>

        
        <li class="page-nav__item">
            
                <a rel="next" class="page-nav__link page-nav__link--next" href="../../error-handling/">
                    <small class="page-nav__label">Next</small>
                    Error Handling
                    <i class="bi bi-arrow-right"></i>
                </a>
            
        </li>
    </ul>
</nav>



                
            </div>
            <div class="col-md-3 col-sm-12 sidebar">
                <div class="donation-banner">
    <a href="https://getlaminas.org/support/">
        <h2>Donate</h2>
        <p>Support Laminas Developers Directly</p>
        <img src="https://funding.communitybridge.org/assets/cb-f-horizontal-white.svg">
    </a>
</div>

                
                    <div class="component-selector">
    
    <h5 class="component-selector__subtitle">Find documentation…</h5>
    <select class="form-control component-selector__control">
        <option value="/">Overview</option>
        <optgroup label="Components"></optgroup>
    </select>
</div>
                    
    <div class="subnavigation hidden-print">
        <h4 class="subnavigation__title">
            <a href="../../../..">
                
                
    mezzio

            </a>
        </h4>

        <h5 class="subnavigation__subtitle">Table of Contents</h5>

        <ul class="subnavigation__list">
            

                
                
                    
                        
    <li class="subnavigation__list-item ">
        <a href="../../../" class="subnavigation__link">Introduction</a>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Getting Started</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../getting-started/features/" class="subnavigation__link">Overview and Features</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../getting-started/quick-start/" class="subnavigation__link">Quick Start</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Features</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware-types/" class="subnavigation__link">Middleware Types</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../application/" class="subnavigation__link">Applications</a>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Containers</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/factories/" class="subnavigation__link">Container Factories</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/delegator-factories/" class="subnavigation__link">Delegator Factories</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/middleware-container/" class="subnavigation__link">The Middleware Container</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/middleware-factory/" class="subnavigation__link">The Middleware Factory</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/laminas-servicemanager/" class="subnavigation__link">Using laminas-servicemanager</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/pimple/" class="subnavigation__link">Using Pimple</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/aura-di/" class="subnavigation__link">Using Aura.Di</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/config/" class="subnavigation__link">Container configuration</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Routing Adapters</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/interface/" class="subnavigation__link">Routing Interface</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/route-collector/" class="subnavigation__link">The Route Collector</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/uri-generation/" class="subnavigation__link">URI Generation</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/piping/" class="subnavigation__link">Routing vs Piping</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/aura/" class="subnavigation__link">Using Aura</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/fast-route/" class="subnavigation__link">Using FastRoute</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/laminas-router/" class="subnavigation__link">Using laminas-router</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Templating</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../interface/" class="subnavigation__link">Template Renderer Interface</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../request-handlers/" class="subnavigation__link">Templated Request Handlers</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../plates/" class="subnavigation__link">Using Plates</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../twig/" class="subnavigation__link">Using Twig</a>
    </li>

            
                
    <li class="subnavigation__list-item subnavigation__list-item--active">
        <a href="./" class="subnavigation__link">Using laminas-view</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../error-handling/" class="subnavigation__link">Error Handling</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../modular-applications/" class="subnavigation__link">Modular Applications</a>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Middleware</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/routing-and-dispatch-middleware/" class="subnavigation__link">Routing and Dispatch Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/implicit-methods-middleware/" class="subnavigation__link">Implicit HEAD and OPTIONS Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/method-not-allowed-middleware/" class="subnavigation__link">Returning Method Not Allowed</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Helpers</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/url-helper/" class="subnavigation__link">UrlHelper</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/server-url-helper/" class="subnavigation__link">ServerUrlHelper</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/body-params/" class="subnavigation__link">Body Params Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/content-length/" class="subnavigation__link">Content-Length Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/template-variable-container/" class="subnavigation__link">Template Variable Container</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../emitters/" class="subnavigation__link">Emitters</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Cookbook</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/autowiring-routes-and-pipelines/" class="subnavigation__link">Autowiring routes and pipeline middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-a-base-path/" class="subnavigation__link">Using Mezzio from a subdirectory</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/common-prefix-for-routes/" class="subnavigation__link">Prepending a common path to all routes</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/passing-data-between-middleware/" class="subnavigation__link">Passing data between middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/path-segregated-routing/" class="subnavigation__link">Path-segregated routing</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/access-common-data-in-templates/" class="subnavigation__link">Provide Access to Common Data In Templates</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/route-specific-pipeline/" class="subnavigation__link">Route-specific middleware pipelines</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/host-segregated-middleware/" class="subnavigation__link">Segregating middleware by host</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/double-pass-middleware/" class="subnavigation__link">Using double-pass middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/setting-locale-depending-routing-parameter/" class="subnavigation__link">Setting a locale based on a routing parameter</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/setting-locale-without-routing-parameter/" class="subnavigation__link">Setting a locale without a routing parameter</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/debug-toolbars/" class="subnavigation__link">Enabling debug toolbars</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/flash-messengers/" class="subnavigation__link">Flash Messengers</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-custom-view-helpers/" class="subnavigation__link">Registering custom view helpers when using laminas-view</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-laminas-form-view-helpers/" class="subnavigation__link">Using laminas-form view helpers</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Reference</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../why-mezzio/" class="subnavigation__link">Why choose Mezzio?</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/cli-tooling/" class="subnavigation__link">CLI Tooling</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/mezzio-projects/" class="subnavigation__link">Mezzio Projects</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/migration/" class="subnavigation__link">Migration</a>
    </li>

            
        </ul>
    </li>

                    
                
            

                
                

                    
                    
                
            

                
                

                    
                    
                
            
        </ul>
    </div>

                    
                
            </div>
        </div>
    </div>

    
    <footer class="footer">
    <div class="container">

        
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="footer__button" href="#page-top"><i class="bi bi-arrow-up-square" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5 class="text-white">Laminas – The Linux Foundation's only PHP project</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>Mezzio <a href="https://docs.mezzio.dev/">PSR-15 middleware in minutes</a></li>
                    <li>Laminas Components <a href="https://docs.laminas.dev/components">Enterprise-ready PHP components</a></li>
                    <li>Maintenance Overview <a href="https://getlaminas.org/packages-maintenance-status/">Current maintenance status of Laminas &amp; Mezzio packages</a></li>
                    <li>Laminas Integrations <a href="https://getlaminas.org/integrations/">List of packages using Laminas & Mezzio components</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    
                    <div class="col-md-4">
                        <h5 class="footer__headline text-white">Support</h5>
                        <ul class="support__list">
                            <li class="support__list-item">
                                <a href="https://discourse.laminas.dev" class="support__link" title="Forum"><i class="bi-chat-text-fill"></i><span class="visually-hidden">Laminas &amp; Mezzio Forum</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://laminas.dev/chat" class="support__link" title="Chat"><i class="bi-slack"></i><span class="visually-hidden">Laminas Community Slack</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://github.com/laminas" class="support__link" title="Github"><i class="bi-github"></i><span class="visually-hidden">Laminas GitHub Organisation Page</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://phpc.social/@getlaminas" class="support__link" title="Mastodon"><i class="bi-mastodon"></i><span class="visually-hidden">Laminas on Mastodon</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://getlaminas.org/blog/rss.xml" class="support__link" title="Blog feed"><i class="bi-rss"></i><span class="visually-hidden">Blog article RSS Feed</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://getlaminas.org/security/feed" class="support__link" title="Security feed">
                                    <i class="bi-rss-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    
                    <div class="col-md-4">
                        <h5 class="footer__headline text-white">License</h5>
                        <p>
                            Code licensed under <a
                                href="https://github.com/mezzio/mezzio/blob/-/LICENSE.md">BSD 3-Clause</a>.
                        </p>
                    </div>

                    
                    <div class="col-md-4">
                        <h5 class="footer__headline text-white">Copyright</h5>
                        <p>
                            <!--Built with love by the Laminas team with the help of our
                            <a href="https://github.com/mezzio/mezzio/graphs/contributors">contributors</a>.<br>-->
                            &copy; 2026 <a href="https://getlaminas.org/">Laminas Project</a> a Series of LF Projects, LLC.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

    <script>
        let base_url = '../../../..',
            project  = "mezzio",
            siteName = 'mezzio';
    </script>
    <script src="https://docs.laminas.dev/js/scripts.js"></script>
    
        <script src="../../../../search/main.js"></script>
    

    
    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search in mezzio" id="mkdocs-search-query">
                    </div>
                </form>
                <div id="mkdocs-search-results"></div>
            </div>
        </div>
    </div>
</div>
</body>


</html>
